## Python Basic Programming Exercises

#### Q1: What is the output of following expression
##### 5 + 4 * 9 % (3 + 1) / 6 - 1

In [2]:
5+4*9%4/6-1
5+36%4/6-1
5+0/6-1
5+0.0-1
4.0

4.0

#### Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [1]:
num = int(input('Enter a number'))
if num % 2 == 0:
    print('Number is even')
else:
    print('Number is odd')

Enter a number 7

Number is odd

#### Q3: Write a program to display the multiplication table by taking a number as input. [Hint : Use print statement inside of a loop]

In [2]:
n = int(input('Enter a number that you want to print a multiplication table for-->'))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

Enter a number that you want to print a multiplication table for--> 897

897 * 1 = 897
897 * 2 = 1794
897 * 3 = 2691
897 * 4 = 3588
897 * 5 = 4485
897 * 6 = 5382
897 * 7 = 6279
897 * 8 = 7176
897 * 9 = 8073
897 * 10 = 8970

#### Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 but are not a multiple of 5.
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [16]:
for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        print(i,end=', ')

2002 ,2009 ,2016 ,2023 ,2037 ,2044 ,2051 ,2058 ,2072 ,2079 ,2086 ,2093 ,2107 ,2114 ,2121 ,2128 ,2142 ,2149 ,2156 ,2163 ,2177 ,2184 ,2191 ,2198 ,2212 ,2219 ,2226 ,2233 ,2247 ,2254 ,2261 ,2268 ,2282 ,2289 ,2296 ,2303 ,2317 ,2324 ,2331 ,2338 ,2352 ,2359 ,2366 ,2373 ,2387 ,2394 ,2401 ,2408 ,2422 ,2429 ,2436 ,2443 ,2457 ,2464 ,2471 ,2478 ,2492 ,2499 ,2506 ,2513 ,2527 ,2534 ,2541 ,2548 ,2562 ,2569 ,2576 ,2583 ,2597 ,2604 ,2611 ,2618 ,2632 ,2639 ,2646 ,2653 ,2667 ,2674 ,2681 ,2688 ,2702 ,2709 ,2716 ,2723 ,2737 ,2744 ,2751 ,2758 ,2772 ,2779 ,2786 ,2793 ,2807 ,2814 ,2821 ,2828 ,2842 ,2849 ,2856 ,2863 ,2877 ,2884 ,2891 ,2898 ,2912 ,2919 ,2926 ,2933 ,2947 ,2954 ,2961 ,2968 ,2982 ,2989 ,2996 ,3003 ,3017 ,3024 ,3031 ,3038 ,3052 ,3059 ,3066 ,3073 ,3087 ,3094 ,3101 ,3108 ,3122 ,3129 ,3136 ,3143 ,3157 ,3164 ,3171 ,3178 ,3192 ,3199 ,

#### Q5: Count the elements of each datatype inside the list and display in output
##### [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [27]:
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
d1 = {}
for i in l1:
    if type(i) not in d1.keys():
        d1[type(i)] = 0
    d1[type(i)] += 1
print(d1)

{<class 'int'>: 5, <class 'str'>: 4, <class 'float'>: 1, <class 'bool'>: 1, <class 'NoneType'>: 1}

#### Q6: Add all values from the list with numeric datatypes 
##### [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [29]:
l2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
s = 0
for i in l2:
    if type(i) == int:
        s = s + i
print('Sum of numeric datatype from list is-->',s)

Sum of numeric datatype from list is--> 16

#### Q7: Concat all str datatypes with hyphen as a delimiter
##### [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [35]:
l3 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
for i in l3:
    if type(i) == str:
        print(i,end = '-')

Py-10-SQL-John-

#### Q8: Write a UDF that takes list as input and returns sum of all numbers (exclude bool) and count of all str 
##### [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
##### Hint:
##### -----
##### def my_func:
#####    # your code
        
##### my_func(l1)
#####  # output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [48]:
my_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
def my_func(my_list):
    s = 0
    c = 0
    for i in my_list:
        if type(i) == int:
            s = s + i
        elif type(i) == str:
            c = c + 1
    print('Sum of all numbers-->',s,'\nCount of all string-->',c)

In [49]:
my_func(my_list)

Sum of all numbers--> 16
Count of all string--> 4

#### Q9: Get only odd numbers from the following list and store the numbers in new list
##### li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

##### i. Use loops to get the answer
##### ii. Use list comprehensions
##### iii. Use lambda function with filter

In [50]:
# using loops
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
new_list = []
for i in li:
    if i % 2 != 0:
        new_list.append(i)
print(new_list)

[5, 7, 97, 77, 23, 73, 61]

In [54]:
# using list comprehension
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
new_li = [i for i in li if i % 2 != 0]
print(new_li)

[5, 7, 97, 77, 23, 73, 61]

In [57]:
# Use lambda function with filter
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
list(filter(lambda li : li % 2 != 0,[5, 7, 22, 97, 54, 62, 77, 23, 73, 61]))

[5, 7, 97, 77, 23, 73, 61]

#### Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input numbers.

In [3]:
def list_des(*args):
    s = 0
    c = 0
    for i in args:
        s = s + i
        c = c + 1
    mean = s/c
    l = list(args)
    l.sort()
    min_v = l[0]
    max_v = l[-1]
    return(s,c,mean,min_v,max_v)

list_des(1,4,7)

(12, 3, 4.0, 1, 7)

#### Q11: Write an udf to calculate the area of different shapes
#### Take shape and dimensions as arguments to udf as follows : 
##### 1. square which has side
##### 2. rectangle which has length and width
##### 3. circle which has radius

##### The shape should be a positional argument and it's dimensions are taken as kwargs. Perform proper validation for the user inputs and then calculate area.
##### E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [85]:
def cal_area(shape,**kwargs):
    if shape == 'square':
        area = kwargs['side']**2
    elif shape == 'rectangle':
        area = kwargs['length'] * kwargs['width']
    elif shape == 'circle':
        area = 3.14 * kwargs['radius']**2
    return area

In [89]:
cal_area('rectangle',length = 4, width = 2)

8

#### Q12: Write a UDF to reconcile the values within two lists.
##### l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
##### l2 = ['January', 'February', 'April', 'June', 'October', 'December']
##### Hint:
##### -----
##### def func(l1, l2):
##### your code here...
    
##### Output:
##### {'Matched': ['January', 'February', 'June', 'December'],
##### 'Only in l1': ['March', 'May', 'September'],
#####  'Only in l2': ['April', 'October']}

In [94]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def list_reconcilation(l1,l2):
    d = {}
    d['Matched'] = set(l1).intersection(set(l2))
    d['Only in l1'] = set(l1).difference(set(l2))
    d['Only in l2'] = set(l2).difference(set(l1))
    return d
list_reconcilation(l1,l2)

{'Matched': {'December', 'February', 'January', 'June'},
 'Only in l1': {'March', 'May', 'September'},
 'Only in l2': {'April', 'October'}}

#### Q13: write a UDF to check if a number is prime or not.

In [122]:
def check_prime(n):
    if n < 1:
            return False
    for i in range(2,n):
        if n % i == 0:
            return False
    return True
        
check_prime(7)

True

#### Q14. Write a program which can compute the factorial of a given numbers. 
####   The results should be printed in a comma-separated sequence on a single line. input() function can be used for getting user(console) input

##### Suppose the input is supplied to the program:  8  
##### Then, the output should be:  40320 
##### Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [138]:
#using udf
def cal_factorial(n):
    f = 1
    for i in range(n,0,-1):
        f = f * i
    return f

In [140]:
cal_factorial(8)

40320

In [131]:
#using direct function from library
from math import factorial as f
def factorial1(n):
    return f(n)

factorial1(5)

120

#### Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

##### Suppose the following input is supplied to the program: 8
##### Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
##### Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [147]:
def func_dic(n):
    d = {}
    for i in range(1,n+1):
        d[i] = i*i
    return d
func_dic(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

#### Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
##### #Suppose the following input is supplied to the program: 34,67,55,33,12,98
##### #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

##### #Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [152]:
def conversion(*args):
    print(list(args),end = ' ')
    print(tuple(args))

conversion(23,43,55,12,51,66,90)

[23, 43, 55, 12, 51, 66, 90] (23, 43, 55, 12, 51, 66, 90)

#### Q17. Write a program that accepts a comma separated sequence of words as input and 
##### # prints the words in a comma-separated sequence after sorting them alphabetically.

##### # Suppose the following input is supplied to the program: without,hello,bag,world
##### # Then, the output should be: bag,hello,without,world

##### #Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [160]:
def word_sort(*args):
    l = (list(args))
    l.sort()
    return l
    
word_sort('hello','ball','there','was','a','bat')

['a', 'ball', 'bat', 'hello', 'there', 'was']

#### Q18. Write a program that accepts a sequence of whitespace separated words 
##### # as input and prints the words after removing all duplicate words and sorting them alphanumerically.
##### # Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
##### # Then, the output should be: again and hello makes perfect practice world

##### #Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
##### #We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [165]:
def removedup_sort(*args):
    l = set(args).intersection()
    l = list(l)
    l.sort()
    return l
removedup_sort('hello','again','hello','this','is','best','place','best','vibe')

['again', 'best', 'hello', 'is', 'place', 'this', 'vibe']

#### Q19. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
##### #Suppose the following input is supplied to the program: Hello world!
##### #Then, the output should be: UPPER CASE 1 LOWER CASE 9

##### #Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [170]:
def count_case(text):
    uc = 0
    lc = 0
    for i in text:
        if i.isupper():
            uc = uc + 1
        elif i.islower():
            lc = lc + 1
    print('UPPER CASE', uc, 'LOWER CASE', lc)

count_case('Hello Everyone')

UPPER CASE 2 LOWER CASE 11

In [174]:
def count_case(text):
    uc = 0
    lc = 0
    for i in text:
        if i >= 'A' and i <= 'Z':
            uc = uc + 1
        elif i >= 'a' and i <= 'z':
            lc = lc + 1
    print('UPPER CASE', uc, 'LOWER CASE', lc)

count_case('Hellooo Everyone')

UPPER CASE 2 LOWER CASE 13

#### Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [172]:
def reverse_str(text):
    text = text[::-1]
    return text
reverse_str('hi12345')

'54321ih'